<aside class="col-sm-4 ml-auto blog-sidebar">
  <!-- {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }} -->
  <section class="sidebar-module sidebar-module-inset">
    <!-- <h4>{{ i18n "about" }}</h4>
    <p dir="auto">{{ .Site.Params.sidebar.about | markdownify }}</p>
  </section>
  {{ end }} -->


  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <!-- <h4>{{ i18n "links" }}</h4> -->
    <ul class="sidebar-nav nav flex-column">
      {{ range . }}
      <li class="nav-item"><a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
  </section>
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
