{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

      <article class="blog-post">
        <header>



        </header>



        {{.Content }}




<small>Originally Published: {{ .PublishDate.Format "January 2, 2006"}}  |  Last modified: {{ .Lastmod.Format "January 2, 2006" }}</small>
      </article>

      {{ if .Site.DisqusShortname }}
           {{ partial "disqus.html" . }}
      {{ end }}

    {{ end }}
